body {
 
  background: rgba(0, 0, 0, 0.9);
}

.container-fluid {

}


hr {
    color: white;
}

h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 100px;
    padding: 10px;
    box-shadow:  0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgba(1, 101, 191, 0.2);



}

h3 {
    color: white;

}

.stats2 {
    background-color:rgba(1, 101, 191, 0.2);
    padding: 15px;
    margin-top: 20px;
    box-shadow:  0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-bottom: 20px;
    border: 5px solid rgba(1, 101, 191, 0.2);
}

 .stats h5 {
    text-align: left !important;

    background-color:rgba(1, 101, 191, 0.2);
    padding: 15px;
    box-shadow:  0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h5 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    margin: 20px;
    padding: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 1px solid white;
}

.app-header .app-header--title {
    font-size: 22px;

    padding-left: 5px;
}

.my-range-slider {
   font-size: 2px;
   margin: 30px 0px 30px 0px;
   padding: 10px;


}
.rc-slider-mark {
    font-size: 10px;


}

