body {
 
  background: rgba(0, 0, 0, 0.9);
}

.container-fluid {

}

.row {


}

h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 100px;

}

h3 {
    color: white;

}

h5 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    margin: 20px;
    padding: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 1px solid white;
}

.app-header .app-header--title {
    font-size: 22px;

    padding-left: 5px;
}

.my-range-slider {
   font-size: 2px;
   margin: 30px 0px 30px 0px;
   padding: 10px;


}
.rc-slider-mark {
    font-size: 10px;


}

